body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #3e3e3e;
    color: #fff;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

th,
td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    border-color: #b0b0b0;
}

th {
    background-color: #b0b0b0;
    color: #000;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    width: 40%;
}

button:hover {
    background-color: #ddd;
}

.deleteButton {
    background-color: #f44336;
    color: #fff;
    border-color: #f44336;
}

.deleteButton:hover {
    background-color: #da190b;
    border-color: black;
}

.hidden {
    display: none;
}