html,
body {
    margin: 0;
    padding: 0;
    background-color: #3e3e3e;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.fileNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

p {
    color: #fff;
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 1rem;
}

.btn {
    background-color: #2d2226;
    color: #fff;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
    transition: 0.1s all ease-in-out;
}

.btn:hover {
    filter: brightness(1.2);
    transform: scale(1.04);;
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    margin: 0.5rem 0;
    width: 70%;
    font-size: 1rem;
}

.config-atestado-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.config-atestado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
}

.config-subtitle {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.3rem;
}

.liga-desliga {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: 1rem;
}

.liga-desliga_checkbox {
    left: -9999px;
    position: absolute;
}

.liga-desliga_botao {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.liga-desliga_botao::before,
.liga-desliga_botao::after {
    content: "";
    transition: all 0.3s ease;
}

.liga-desliga_botao::before {
    display: inline-block;
    width: 3em;
    height: 1.5em;
    background-color: rgb(193, 61, 61);
    border-radius: 1em;
}

.liga-desliga_botao::after {
    display: inline-block;
    position: absolute;
    top: 0.0;
    left: 0.0;
    width: 1.45em;
    height: 1.45em;
    background-color: #fff;
    border-radius: 100%;
}

.liga-desliga_checkbox:checked + .liga-desliga_botao::after {
    left: 1.525em;
}

.liga-desliga_checkbox:checked + .liga-desliga_botao::before {
    background-color: rgb(78, 116, 186);
}

/* .liga-desliga_checkbox:focus + .liga-desliga_botao::before {
    outline: 3px dotted #CCC;
} */

.title-config {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.files-templates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.file-title {
    font-size: 1rem;
    margin: 0;
}

.fileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    margin-block: 0.2rem;
}

.inputFile {
    padding: 0.3rem;
    border: 2px solid rgb(99, 99, 99);
    font-size: 1rem;
    background-color: rgb(174, 174, 174);
    color: black;
    cursor: pointer;
}

.inputFile:hover {
    background-color: rgb(148, 228, 255);
}


.hidden {
    display: none;
}